@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");
@import "tailwindcss";


body {
  font-family: "Outfit", sans-serif;
}
/* === Scrollbar Base Style === */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f9fafb;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

.dark ::-webkit-scrollbar-track {
  background-color: #1f2937;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af #f9fafb;
}

.dark * {
  scrollbar-color: #4b5563 #1f2937;
}
